<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2>Book a Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline:
          <input type="text" name="airline">
        </label><br>
        <label>Flight Number:
          <input type="number" name="flightNo">
        </label><br>
        <label>Departs:
          <select name="departs">
        
          </select>
        </label><br>
        <input type="submit" value="Look up flight">
    </form>    
</body>
</html>